@charset "UTF-8";


table.first {
	width: 100%;
	border: none;
	border-collapse: collapse;		/* 이중실선(x), 테두리를 실선으로 적용 */
	border-radius: 8px;
	overflow: hidden;
	background-color: rgb(230, 230, 230, 0.4);
	box-shadow: 5px 5px 10px #aaa;
}

table.first th {
	padding: 8px;
	background-color: rgb(51, 131, 255);
	color: #fff;
	letter-spacing: 3px;
}

/* TODO 여기에 작성해보세요:) */
table.first th:nth-child(2) {
	letter-spacing: 45px;
}

table.first td {
	padding: 10px;
	text-align: center;
}

/* TODO 여기에 작성해보세요:) */
table.first td:first-child {
	width: 10%;
}

/* TODO 여기에 작성해보세요:) */
table.first td:nth-child(2) {
	width: 70%;
}

/* TODO 여기에 작성해보세요:) */
table.first td:last-child(2) {
	width: 20%;
}

/* TODO 여기에 작성해보세요:) */
table.first tr:nth-child(odd) {
	background-color: rgb(200, 200, 200, .7);
}

/* TODO 여기에 작성해보세요:) */
table.first tr:nth-child(even) {
	background-color: #fff;
}

table.first th,
table.first td {
	border-left: 1px solid #ccc;
}

/* TODO 여기에 작성해보세요:) */
table.first tr:hover {
	background-color: #9d9dff;
	color: #fff;
}


/* TODO 여기에 작성해보세요:) */
p:empty {
	margin: 50px;
}

table.second {
	width: 100%;
	border-collapse: collapse;
}

table.second th {
	padding: 8px;
	background-color: #ff8000;
	color: #fff;
	letter-spacing: 3px;
}

/* TODO 여기에 작성해보세요:) */
table.second th:nth-child(2) {
	letter-spacing: 45px;
}


table.second td {
	padding: 10px;
	text-align: center;
	/* color: #fff; */
}

table.second td:first-of-type {
	width: 15%;
}

/* TODO 여기에 작성해보세요:) */
table.second td:nth-of-type(2) {
	width: 65%;
}

/* TODO 여기에 작성해보세요:) */
table.second td:last-of-type {
	width: 20%;
}


/* TODO 여기에 작성해보세요:) */
table.second tr:nth-of-type(odd) {
	background-color: #ddd;	
}

/* TODO 여기에 작성해보세요:) */
table.second tr:nth-of-type(even) {
	background-color: #eee;	
}

/* TODO 여기에 작성해보세요:) */
table.second tr:hover {
	background-color: coral;
	color: white;
}

section.part1 div,
section.part2 div {
	padding: 10px;
	border: 1px solid #ccc;
	margin: 2px;
}

/* part1 : nth-of-type */
/* TODO 여기에 작성해보세요:) */

section.part1 div:first-of-type {
	background-color: cornflowerblue;
}

section.part1 div:last-of-type {
	background-color: coral;
}

section.part1 div:nth-of-type(2) {
	background-color: lightseagreen;
}

section.part1 div:nth-last-of-type(2) {
	background-color: mediumslateblue;
}


/* part2 : nth-child */
/* TODO 여기에 작성해보세요:) */
section.part2 div:first-child {
	background-color: cornflowerblue;
}

section.part2 div:last-child {
	background-color: coral;
}

section.part2 div:nth-child(2) {
	background-color: lightseagreen;
}

section.part2 div:nth-last-child(2) {
	background-color: mediumslateblue;
}




























